#top-content {
    margin: 5vs;
    border-bottom: 2px double rgb(216, 40, 40);
    padding-bottom: 5vw;
}

#top-text {
    display: inline-block;
    width: 60vw;
}

#top-image {
    width: 20vw;
}

#bottom-text {
    margin: 5vw;
}

p {
    font-size: 2rem;
}

#border {
        border: 10px double #1C6EA4;
    }